/**
 * Archive Template Styles
 */

#ds-filters-paged-go:hover{
  background-color:#2b2b2b!important;
}
.dsn-taxonomy-description {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
/* Fix for dsn:container stuff */
.page-template-template-estore #dsShowcaseContent {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.page-template-template-estore .ds-estore-banner-wrap {
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  padding-right: 20px;
}

.ds-scrollable {
  overflow: auto;
}

.ds-estore-search-content {
  background: transparent;
}

@media (max-width: 639px) {

  .featured-cat__wrap {
    height: auto;
  }
  .featured-cat {
    height: 40px;
  }
  .ds-estore-banner-wrap {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .featured-cat img {
    display: none;
  }
  .ds-estore-search {
    background-position: center;
    height: 300px !important;
    margin-bottom: 80px !important;
  }
  .ds-estore-search-content {
    background: white;
    width: 90%;
    color: black;
    padding: 15px;
    position: absolute;
    top: 250px;
  }
  .ds-estore-search-content h4 {
    color: black;
    text-align: center;
  }
}

#dsPagination {
  display: block;
  width: auto;
  margin: 50px 0px;
  text-align: center;
  color: var(--dealerLinkColor) !important;
}

#dsPagination .page-numbers .current,
#dsPagination .page-numbers li a:hover {
  padding: 10px 14px !important;
  background: #fff !important;
}

#dsPagination .page-numbers .current,
#dsPagination .page-numbers a {
  font-size: 1rem;
}

#dsPagination .page-numbers a:link,
#dsPagination .page-numbers a:visited {
  padding: 10px 14px !important;
  background: #fff !important;
  -webkit-box-shadow: -1px 2px 18px -9px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 2px 18px -9px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 2px 18px -9px rgba(0, 0, 0, 0.25);
  border: 1px solid #f0f0f0 !important;
}

#dsPagination .page-numbers {
  border: none !important;
  margin: 0;
}

#dsPagination ul li {
  border-right: 4px solid #fff;
  background: #fff !important;
  display: inline-block;
  padding: 0;
}

#dsPagination ul li a.next.page-numbers, #dsPagination ul li a.prev.page-numbers {
  color: var(--dealerLinkColor) !important;
}

#dsPagination ul li:before {
  display: none;
}


.ds-filters {
  background-color: #f7f7f7;
  position: relative;
  padding: 20px 15px 0;
  width: 100%
}
.ds-filters h1,
.ds-filters h2,
.ds-filters h3,
.ds-filters h4,
.ds-filters h5,
.ds-filters h6 {
  margin-top: .2rem;
  margin-bottom: .5rem
}
.ds-filters .article-title {
  position: relative;
  font-size: 18px;
  padding-top: 25px;
  border-top: 2px solid #c6c6c6;
  cursor: pointer
}
.ds-filters .article-title .svg-inline--fa {
  position: absolute;
  top: 25px;
  right: 5px
}
.ds-filters .article-title .fa-minus {
  display: none
}
.ds-filters .article-title.open .fa-minus {
  display: block
}
.ds-filters .article-title.open .fa-plus,
.ds-filters .article-title:not(.open) + .accordion-content {
  display: none
}
.ds-filters-over {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease
}
.ds-filters-over.show {
  opacity: .7;
  visibility: visible
}
.flex-dsn:row {
  display: flex;
  flex-wrap: wrap
}
.ds-filters-wrap {
  position: relative
}
@media (min-width: 1201px) {
  .ds-filters-wrap {
    width: auto
  }
  .ds-filters-wrap,
  .ds-filters-wrap .dsn:row {
    max-width: 1700px !important
  }
}
.columns .dsn:row {
  width: auto;
  margin-left: -15px;
  margin-right: -15px
}
.ds-filters-wrap .columns {
  display: flex
}
.featured-cat__wrap {
  margin-bottom: 2rem;
  height: 250px
}
@media (max-width: 639px) {
  .featured-cat__wrap {
    height: 65vw
  }
}
@media (min-width: 1024px) {
  .featured-cat__wrap {
    height: calc(50% - 1rem);
    margin-bottom: 1rem
  }
  .featured-cat__wrap:last-of-type,
  .featured-cat__wrap:nth-last-of-type(2),
  .featured-cat__wrap:nth-last-of-type(3) {
    margin-bottom: 0;
    margin-top: 1rem
  }
}
.featured-cat {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  transition: all .3s ease;
  background-color: #2d4062;
  overflow: hidden
}
.featured-cat:hover img {
  transform: scale(1.1)
}
.featured-cat__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 50px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  transition: transform .3s ease
}
.featured-cat__title {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #2d4062
}
.ds-estore-search {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 35px;
  min-height: 540px;
  margin-bottom: 2em;
  background-size: cover;
  background-position: top
}
.page-template-template-estore .ds-estore-search {
  height: 100%;
  margin-bottom: 0
}
@media (min-width: 1800px) {
  .page-template-template-estore .ds-estore-search {
    height: 30vw
  }
}
@media (max-width: 1024px) {
  .ds-estore-search {
    min-height: 0;
    padding: 75px 35px 35px
  }
}
.ds-estore-search h4 {
  color: #fff;
  margin-bottom: 0
}
.ds-estore-search .blog-search {
  display: flex;
  margin-bottom: 0;
  width: 100%;
  max-width: 380px
}
.ds-estore-search .blog-search input {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  margin: 1em auto 0;
  max-width: 100%;
  box-shadow: inherit;
  background-image: url(../../images/a2.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1em 1.5em
}
.ds-estore-search:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .78) 0, transparent 70%);
  z-index: 0
}
.archive .ds-estore-search {
  min-height: 0;
  padding: 0;
  margin: 0
}
.archive .ds-estore-search:before {
  display: none
}
.ds-estore-search * {
  z-index: 1
}
.ds-filters-page-content-wrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px
}
.ds-filters-page-content {
  width: 100%
}
.ds-filters-page-content h1 {
  font-size: 24px
}
.ds-filters-page-content h2 {
  font-size: 20px
}
.ds-filters-page-content h3 {
  font-size: 19px
}
.ds-filters-page-content h4 {
  font-size: 18px
}
.ds-filters-page-content h5 {
  font-size: 17px
}
.ds-filters-page-content h6 {
  font-size: 16px
}
.ds-filters-page-content p {
  font-size: 14px
}
@media (min-width: 768px) {
  .ds-filters-page-content h1 {
    font-size: 48px
  }
  .ds-filters-page-content h2 {
    font-size: 40px
  }
  .ds-filters-page-content h3 {
    font-size: 31px
  }
  .ds-filters-page-content h4 {
    font-size: 25px
  }
  .ds-filters-page-content h5 {
    font-size: 20px
  }
  .ds-filters-page-content h6 {
    font-size: 16px
  }
}
#ds-filter > a {
  position: absolute;
  right: 35px;
  top: 25px
}
#ds-filter ul {
  margin: 0
}
#ds-filter ul li {
  list-style-type: none
}
#ds-filter ul li ul {
  margin-left: 30px
}
#ds-filter input[type=checkbox] + label {
  display: block;
  margin: .2em;
  cursor: pointer;
  padding: .2em;
  font-size: 16px
}
#ds-filter input[type=checkbox] {
  display: none
}
#ds-filter input[type=checkbox] + label:before {
  content: "\2714";
  border: .1em solid #c6c6c6;
  border-radius: .2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: .2em;
  padding-bottom: .3em;
  margin-right: 10px;
  color: transparent;
  transition: .2s;
  font-size: 13px;
  vertical-align: top
}
#ds-filter input[type=checkbox] + label:active:before {
  transform: scale(0)
}
#ds-filter input[type=checkbox]:checked + label:before {
  background-color: #858585;
  border-color: #858585;
  color: #fff
}
#ds-filter [type=radio]:checked,
#ds-filter [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px
}
#ds-filter [type=radio]:checked + label,
#ds-filter [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  font-size: 16px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 8px
}
#ds-filter [type=radio]:checked + label:before,
#ds-filter [type=radio]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff
}
#ds-filter [type=radio]:checked + label:after,
#ds-filter [type=radio]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #858585;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all .2s ease
}
#ds-filter [type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0)
}
#ds-filter [type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1)
}
.ds-prices-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end
}
#price_max,
#price_min {
  font-size: 16px;
  width: 48%;
  padding: 5px 10px
}
#price_max {
  margin-left: 4%
}
.ds-filters-counter {
  font-size: 22px;
  margin-top: 10px
}
.ds-filters-counter__value {
  font-weight: 700;
  margin-right: 5px
}
.ds-filters-footer-nav .ds-filters-counter__value {
  margin-left: 5px;
  margin-right: 0
}
.ds-filters-footer-nav {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px
}
.ds-filters-footer-nav #ds-posts_per_page {
  margin-left: 0
}
.ds-filters-footer-nav > .hide-for-medium-down {
  align-items: center
}
.ds-filters-footer-nav-right {
  display: flex;
  align-items: center
}
.ds-filters-footer-nav .ds-filters-counter__value {
  font-weight: 400
}
#toTop {
  margin-left: 30px;
}

.dsn-primary-site-link {
  color: var(--dealerLinkColor) !important;
}

.ds-filters-footer-nav #ds-filters-paged {
  border: 1px solid #ccc;
  padding: 10px 0 10px 6px;
  font-size: .875rem;
  width: 45px
}
.ds-filters-nav {
  justify-content: space-between;

  margin: 0 0 0px 0rem
}
.ds-filters-nav-right {
  display: flex;
}
#ds-filters-search {
  box-shadow: inherit;
  background-image: url(../../images/a2.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 1px solid #ccc;
  padding: 10px 15px
}
#ds-posts_per_page {
}
#ds-posts_per_page,
#ds-sort_by {
  border: 1px solid #ccc
}

.ds-product {
}

.ds-product .single_add_to_cart_button {
  background-color: #2d4062;
  width: 78px;
  height: 38px;
  color: #fff;
  font-size: 30px;
}
.ds-product .single_add_to_cart_button svg {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.ds-product .single_add_to_cart_button span svg {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}
.ds-product .single_add_to_cart_button.loading svg.fa-shopping-cart,
.ds-product .single_add_to_cart_button svg.fa-check-circle,
.ds-product .single_add_to_cart_button svg.fa-spinner {
  display: none
}
.ds-product .single_add_to_cart_button.loading svg.fa-spinner {
  display: block
}
.ds-product .single_add_to_cart_button.added svg.fa-shopping-cart {
  display: none
}
.ds-product .single_add_to_cart_button.added svg.fa-check-circle {
  display: block
}
.ds-product .single_add_to_cart_button:focus,
.ds-product .single_add_to_cart_button:hover {
  background-color: #0988c2
}
.ds-product {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.ds-product .added_to_cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  z-index: 1
}
.ds-product .added_to_cart:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .5);
  z-index: -1
}
.ds-product__image {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 25px
}
.ds-product__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #595959;
}
.ds-product__price {
  font-size: 21px;
  color: #4a4a4a
}
.ds-product__price del .woocommerce-Price-amount {
  color: #979595
}
.ds-product__price ins {
  text-decoration: none
}
.ds-product__price ins .woocommerce-Price-amount {
  font-weight: 700;
  color: #457574
}
.js-pagination .pagination {
  margin: 0;
  display: flex;
  list-style-type: none;
  color: var(--dealerLinkColor) !important;
}
.js-pagination .pagination li {
  margin: 0 5px
}
.js-pagination .pagination li a,
.js-pagination .pagination li span {
  padding: 0 5px
}
@media (max-width: 1024px) {
  .ds-filters {
    transform: translateX(-100%);
    transition: transform .5s ease;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 21
  }
  .admin-bar .ds-filters {
    top: 32px
  }
  .ds-filters.active {
    transform: none
  }
  .ds-filters-nav-right {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px
  }
  #ds-filter > a {
    left: 35px;
    right: auto
  }
  .ds-filters h3 {
    text-align: center;
    font-size: 20px
  }
  .ds-filters-counter {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px
  }
}
.show-filters {
  margin: 0 !important;
  padding: 10px 40px 10px 20px;
  border: 1px solid #ccc;
  background: transparent;
  color: #000 !important
}
.show-filters:hover {
  background-color: #f1f1f1;
  color: #000
}
.show-filters:after {
  content: '+';
  position: absolute;
  top: 9px;
  right: 4px;
  color: #000;
  font-size: 23px;
  line-height: 20px
}
.hide-filters {
  background: transparent !important;
  color: #000 !important;
  border: 0;
  margin: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 31px
}
.apply-button {
  background-color: #2d4062;
  font-size: 25px;
  padding: 10px 30px;
  margin: 0 auto 40px !important;
  color: #fff
}
.ds-product__sale {
  position: absolute;
  right: -20px;
  top: -20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px
}
@media (max-width: 640px) {
  .apply-button {
    width: 100%
  }
}
@media (max-width: 1023px) {
  body.admin-bar #wprmenu_bar {
    top: 42px
  }
  .ds-filters-footer-nav,
  .ds-filters-footer-nav-right {
    flex-direction: column
  }
  .js-pagination {
    margin-bottom: 40px
  }
  #ds-filters-paged {
    margin: 0 20px
  }
  #toTop {
    margin-top: 40px
  }
}
.ds-product__meta {
  display: flex;
  justify-content: space-between
}
.ds-product__like {
  display: flex;
  font-size: 22px;
  align-items: center
}
.ds-nav-container .dsn:row {
  margin-left: -1rem;
  margin-right: -1rem;
  width: auto;
  min-width: 100%
}
.ds-nav-container .flex-dsn:row > .columns {
  display: flex
}
@media (max-width: 1024px) {
  .page-template-template-estore .ds-nav-container,
  .tax-product_cat .ds-nav-container {
    padding: 0 1rem !important
  }
  .ds-filters-page-content * {
    text-align: center !important
  }
}
body .ds-estore-banner-wrap {
  margin-bottom: 65px;
  padding-top: 2rem
}
.archive.woocommerce ul.products {
  display: flex;
  flex-wrap: wrap
}
.ds-archive-banner {
  padding: 40px 0;
  margin-bottom: 40px;
  background-size: cover;
  background-position: 50%
}
.ds-archive-banner h1 {
  font-weight: 400;
  color: #fff
}

/* Product Category Hero Banner */
.ds-category-hero {
  width: 100%;
  height: clamp(200px, 30vh, 500px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 768px) {
  .ds-category-hero {
    height: clamp(200px, 55vh, 500px);
  }
}

@media (min-width: 1024px) {
  .ds-category-hero {
    height: clamp(200px, 45vh, 500px);
  }
}


.ds-category-hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  pointer-events: none;
}

.ds-category-header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.ds-category-header .dsn-taxonomy-description {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.ds-back-link {
  display: inline-block;
  background: url(../img/ardsn:row.png) 0 no-repeat;
  background-size: contain;
  font-size: 16px;
  color: var(--dealerLinkColor);
  padding: 7px 0 7px 45px;
  margin-bottom: 30px
}
.page-template-template-estore form, .tax-product_cat form {
  margin-bottom: 1em;
}
.woocommerce select {
  height: 3em;
  padding: 0 1em;
}

/* Loading state for cart wrapper */
.ds-product-cart-wrapper.updating {
  opacity: 0.6;
  pointer-events: none;
  position: relative;
}

.ds-product-cart-wrapper.updating::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: ds-cart-spin 0.8s linear infinite;
}

@keyframes ds-cart-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Loading state for add to cart button */
.ds-add-to-cart-button.loading {
  opacity: 0.6;
  pointer-events: none;
  position: relative;
}

.ds-add-to-cart-button.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: ds-cart-spin 0.8s linear infinite;
}

/* Smooth transitions for fragment replacements */
.ds-product-cart-wrapper {
  transition: opacity 0.15s ease-in-out;
}

