@import 'tailwindcss' prefix(dsn);
@import './woocommerce.css';

@theme {
    --breakpoint-max: 1800px;
    --text-h2: 48px;
    --color-black-500: #000;
    --color-stihl-orange: #F37A1F;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width >=--theme(--breakpoint-max)) {
        max-width: none;
    }

    @media (width < 1200px) {
        max-width: 100%;
    }

    @media (width >=1200px) {
        max-width: 1200px;
    }

    @media (width >=1400px) {
        max-width: 1400px;
    }

    @media (width >=1800px) {
        max-width: 1800px;
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
    body {
        @apply dsn:overflow-x-hidden;
    }
    .btn {
        @apply dsn:py-4 dsn:px-10 dsn:text-lg dsn:md:text-xl dsn:shadow-md;
    }
    /* Link Color */
     .page-content a {
        @apply dsn:text-blue-700;
    }
    .page-content a:hover {
        @apply dsn:text-blue-900;
    }
    /* Headings */
    h1 {
        @apply dsn:text-4xl dsn:md:text-5xl dsn:lg:text-6xl dsn:md:my-3 dsn:lg:my-4 dsn:leading-tight;
    }

    h2 {
        @apply dsn:text-3xl dsn:md:text-4xl dsn:lg:text-5xl dsn:md:my-2 dsn:lg:my-3 dsn:leading-tight;
    }

    h3 {
        @apply dsn:text-2xl dsn:md:text-3xl dsn:md:my-1 dsn:lg:my-2 dsn:leading-snug;
    }

    h4 {
        @apply dsn:text-xl dsn:md:text-2xl dsn:md:my-0 dsn:lg:my-1 dsn:leading-snug;
    }

    h5 {
        @apply dsn:text-base dsn:md:text-xl dsn:leading-snug;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      font-family: 'Lato', sans-serif;
      @apply dsn:font-light;
    }

    /* Paragraphs */
    p {
        @apply dsn:text-xl dsn:leading-snug dsn:md:my-1 dsn:lg:my-2 dsn:font-light;
    }

    /* Primary unordered list */
    ul {
        @apply dsn:list-disc dsn:my-4 dsn:mx-0 dsn:pl-10 dsn:text-xl dsn:font-light;
    }
    li {
        @apply dsn:text-xl dsn:leading-relaxed dsn:mb-1 dsn:font-light;
    }
    /* Second level unordered list */
    ul ul {
        @apply dsn:list-[circle] dsn:my-0.5 dsn:font-light;
    }

    /* Third level unordered list */
    ul ul ul {
        @apply dsn:list-[square] dsn:my-0.5 dsn:font-light;
    }

    /* Primary ordered list */
    ol {
        @apply dsn:block dsn:list-decimal dsn:my-4 dsn:mx-0 dsn:pl-10 dsn:text-2xl dsn:font-light;
    }

    /* Second level ordered list */
    ol ol {
        @apply dsn:list-[lower-alpha] dsn:my-0.5 dsn:font-light;
    }
    @layer md { 
        /* Headings */
    h1 {
        @apply dsn:text-6xl dsn:font-bold dsn:mb-6 dsn:leading-tight;
    }

    h2 {
        @apply dsn:text-5xl dsn:font-semibold dsn:mb-5 dsn:leading-tight;
    }

    h3 {
        @apply dsn:text-4xl dsn:font-medium dsn:mb-4 dsn:leading-snug;
    }

    h4 {
        @apply dsn:text-3xl dsn:font-medium dsn:mb-3 dsn:leading-snug;
    }

    h5 {
        @apply dsn:text-base dsn:font-medium dsn:mb-2 dsn:leading-normal;
    }

    /* Paragraphs */
    p {
        @apply dsn:text-2xl dsn:leading-relaxed dsn:mb-4;
    }

    /* Primary unordered list */
    ul {
        @apply dsn:list-disc dsn:my-4 dsn:mx-0 dsn:pl-10 dsn:!text-2xl;
    }
     }

    /* Larger screens */
   @layer lg {  
        h1 {
            @apply dsn:text-6xl;
        }

        h2 {
           @apply dsn:text-5xl;
        }

        h3 {
            @apply dsn:text-4xl;
        }

        h4 {
            @apply dsn:text-3xl;
        }

        h5 {
            @apply dsn:text-xl;
        }

        p {
            @apply dsn:text-2xl;
        }

        li {
            @apply dsn:text-2xl;
        }

        ol>li::marker,
        ul>li::marker {
            @apply dsn:text-2xl;
        }
    }



    /* slick slider */
    @media only screen and (min-width: 1024px) {
    .slick-slider {
        margin-left: 65px;
        margin-right: 65px;
    }
}
    .slick-dots li button:before {
        @apply dsn:!text-sm;
    }

    .slick-next:before, .slick-prev:before {
        color: var(--dealerColor) !important;
        @apply dsn:!text-2xl dsn:md:!text-5xl dsn:!opacity-100;
    }

    .slick-next, .slick-prev {
        width: 48px !important;
        height: 41px !important;
    }

    .slick-prev {
        @apply dsn:!-left-8 dsn:md:!-left-14;
    }

    .slick-next {
        @apply dsn:!-right-8 dsn:md:!-right-14;
    }
}

p a {
    @apply dsn:text-blue-700;
}
p a:hover {
    @apply dsn:text-blue-900;
}

.aligncenter {
    @apply dsn:mx-auto;
}

@layer utilities {

    .dsn\:primary-site-background {
      background: var(--dealerColor) !important;
    }

    .dsn\:primary-site-background:hover {
        opacity: 0.85;
    }
  }